<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>ML API</title>
</head>
<body>

<h1>petal width estimator</h1>
<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="post">
<input type="text" name="SepalLength" placeholder="SepalLength" required="required" />
<input type="text" name="SepalWidth" placeholder="SepalWidth" required="required" />
<input type="text" name="PetalLength" placeholder="PetalLength" required="required" />
<label for="Iris class">Iris class</label>
<select id="Iris class" name="Iris class">
  <option value="0">Setosa</option>
  <option value="1">Versicolour</option>
  <option value="2">Virginica</option>
</select>
<br>
<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>
<br>
<br>
{{ prediction_text }}
</body>
</html>